

body{
    background-color: #2e393a;
    color: #b6d3d6;
    background-image: url(../image/4.jpg);
    background-repeat: round;
    background-size: 100% 100%;    
}
.container{
    border: solid 2px;
    background-image: url(../image/3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.licznik{
    display: none;
}

.trialDiv{
    text-align: center;
    background-color: yellow;
    padding: solid 4px;
}

.moja{
    
    background-image: url(../image/4.jpg);
    background-repeat: round;
    background-size: 100% 100%;
}
.mojText{
    text-align: center;
}
/*
.row{
    padding: solid 10px;
}
.trialDiv{
    background-color: yellow;
    padding: solid 4px;
}

h1{
    text-align: center;
    text-shadow: 2px 2px #25969e;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    width: auto;
    z-index: 2;
}

p{
    background-image: url(../image/3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.blackDiv{
    text-align: center;
    color: burlywood;
    background-color: black;
    opacity: 0.6;
    border-radius: 5%;
}

.container{
    border: solid 2px;

}
*/
/*
.col{

}

.col-sm-1{
    border: solid 1px;
}
.col-sm-2{
    border: solid 1px;
    background-image: url(../image/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#col-sm-2Id{
    background-image: url(../image/2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#col-sm-2Id2{
    background-image: url(../image/2res800600.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.col-sm-3{
    border: solid 1px;
}
.col-sm-4{
    border: solid 1px;
}
.col-sm-5{
    border: solid 1px;
}
.col-sm-6{
    border: solid 1px;
}
.col-sm-7{
    border: solid 1px;
}
.col-sm-8{
    border: solid 1px;
}
.col-sm-9{
    border: solid 1px;
}
.col-sm-10{
    border: solid 1px;
}
.col-sm-11{
    border: solid 1px;
}
.col-sm-12{
    border: solid 1px;
}*/
